* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
        --black: #000;
}

body {
    font-family: Helvetica, Arial, sans-serif;
  }

  header {
    padding: 20px 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 9999;
    align-items: baseline;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--black);
}

header a {
    text-decoration: none;
    color: var(--black);
}

header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

.about-me {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.description {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: var(--black);
    font-size: 18px;
    line-height: 1.2;
  }

  .description h2 {
    font-style: italic;
    font-size: 55px;
    color: var(--black);
}

.my-img {
    box-sizing: border-box;
    width: 40%;
    margin: 3.5%;
  }

  .my-img img {
      width: 100%;
  }

.description p {
    color: var(--black);
}